* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: black;
  overflow: hidden;
  font-family: "Helvetica Neue", sans-serif;
  color: white;
  height: 100vh;
}

.background {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: black;
  background-size: cover;
  background-position: center;
  filter: blur(4px);
  transform: scale(1.1);
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.65);
}

.credits-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.credits {
  position: absolute;
  width: 100%;
  text-align: center;

  /* 画面下から開始 */
  top: 100vh;

  padding: 0 20px;

  /* アニメーション */
  animation: scrollCredits 25s linear forwards;
}

.image-box {
  width: 250px;
  max-width: 90vw;
}

.image-box2 {
  width: 400px;
  max-width: 90vw;
}

h1 {
  font-size: clamp(32px, 8vw, 48px);
  margin-bottom: 40px;
  letter-spacing: 4px;
}

h2 {
  font-size: clamp(24px, 6vw, 32px);
  margin-top: 40px;
  margin-bottom: 20px;
}

h3 {
  font-size: clamp(32px, 8vw, 48px);
  margin-bottom: 40px;
  letter-spacing: 4px;
  color: gray;
}

p {
  font-size: clamp(18px, 5vw, 24px);
  line-height: 1.8;
}

/* 最後で停止 */
@keyframes scrollCredits {
  from {
    top: 100vh;
  }

  to {
    top: calc(-450% + 100vh);
  }
}

/* スマートフォン対応 */
@media (max-height: 550px) {
  .credits {
    animation: scrollCredits 20s linear forwards;
  }
  
  h1, h3 {
    margin-bottom: 20px;
  }
  
  h2 {
    margin-top: 20px;
    margin-bottom: 10px;
  }
}
